{
    "extends": ["eslint-config-umi", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
      "max-len": ["error", { "code": 120 }],
      "react/prop-types": ["error"]
    }
  }
  