{
  "name": "<%= answers.name %>",
  "version": "1.0.0",
  "description": "Scaffold for umi based project",
  "scripts": {
    "start": "umi dev",
    "build": "UMI_ENV=prod umi build",
    "prepare": "husky install"
  },
  "license": "MIT",
  "commitlint": {
    "extends": [
      "@commitlint/config-conventional"
    ]
  },
  "lint-staged": {
    "*.{j,t}s?(x)": "eslint --max-warnings=0 --ignore-pattern=public/**/*"
  },
  "devDependencies": {
    "@commitlint/cli": "^12.1.4",
    "@commitlint/config-conventional": "^12.1.4",
    "@types/classnames": "^2.3.1",
    "@types/jest": "^26.0.24",
    "@types/js-cookie": "^2.2.7",
    "@umijs/plugin-access": "^2.4.2",
    "@umijs/plugin-antd": "^0.10.0",
    "@umijs/plugin-initial-state": "^2.3.1",
    "@umijs/plugin-locale": "^0.13.0",
    "@umijs/plugin-model": "^2.6.1",
    "@umijs/plugin-request": "^2.6.0",
    "@umijs/test": "^3.5.7",
    "husky": "^7.0.1",
    "lint-staged": "^11.0.0",
    "react-coding-style": "^1.3.1",
    "umi": "^3.5.7",
    "umi-plugin-dynamic-antd-theme": "^3.1.0"
  },
  "dependencies": {
    "ahooks": "^2.10.7",
    "classnames": "^2.3.1",
    "js-cookie": "^2.2.1"
  }
}
