{
  "name": "<%= answers.name %>",
  "version": "1.0.0",
  "description": "Scaffold for umi based project",
  "scripts": {
    "start": "umi dev",
    "build": "umi build",
    "serve": "node ./server/index.js",
    "precommit": "lint-staged",
    "commitmsg": "commitlint -E GIT_PARAMS"
  },
  "lint-staged": {
    "*.js": "eslint --max-warnings=0 --ignore-pattern !.umirc.js"
  },
  "commitlint": {
    "extends": [
      "@commitlint/config-angular"
    ]
  }
}
