{
  "name": "<%= answers.name %>",
  "version": "1.0.0",
  "description": "Scaffold for umi based project",
  "scripts": {
    "start": "umi dev",
    "build": "umi build"
  },
  "license": "MIT",
  "husky": {
    "hooks": {
      "commit-msg": "commitlint -E HUSKY_GIT_PARAMS",
      "pre-commit": "lint-staged"
    }
  },
  "commitlint": {
    "extends": [
      "@commitlint/config-conventional"
    ]
  },
  "lint-staged": {
    "*.{j,t}sx?": "eslint --max-warnings=0"
  },
  "devDependencies": {
    "@commitlint/cli": "^9.1.1",
    "@commitlint/config-conventional": "^9.1.1",
    "@types/classnames": "^2.2.10",
    "@types/jest": "^26.0.5",
    "@types/js-cookie": "^2.2.6",
    "@umijs/plugin-access": "^2.3.1",
    "@umijs/plugin-antd": "^0.7.0",
    "@umijs/plugin-initial-state": "^2.2.1",
    "@umijs/plugin-locale": "^0.9.0",
    "@umijs/plugin-model": "^2.5.1",
    "@umijs/plugin-request": "^2.4.1",
    "@umijs/test": "^3.2.10",
    "husky": "^4.2.5",
    "lint-staged": "^10.2.11",
    "react-coding-style": "^1.1.0",
    "umi": "^3.2.10",
    "umi-plugin-antd-theme": "^2.1.2"
  },
  "dependencies": {
    "ahooks": "^2.2.0",
    "classnames": "^2.2.6",
    "js-cookie": "^2.2.1"
  }
}
