const OPEN_PAGES = ['/login', '/', '/404']

export default {
  theme: './src/themes/index.js',
  copy: [
    {
      from: './src/assets/antd-iconfont/*',
      to: './antd-iconfont/',
      flatten: true
    }
  ],
  plugins: [
    [
      'umi-plugin-react',
      {
        dva: {
          immer: false
        },
        antd: true,
        routes: {
          exclude: [/model\.(j|t)sx?$/, /service\.(j|t)sx?$/, /models\//, /components\//, /services\//, /helpers\//],
          update(routes) {
            setAuthRoute(routes)
            return routes
          }
        },
        polyfills: [],
        locale: {
          default: 'zh-CN',
          baseNavigator: true,
          antd: true
        },
        library: 'react',
        dynamicImport: {
          webpackChunkName: true,
          level: 2
        },
        dll: {
          exclude: ['replace-in-file']
        },
        hardSource: true,
        pwa: false,
        hd: false,
        fastClick: false
      }
    ]
  ]
}

function setAuthRoute(routes) {
  if (!routes || !routes.length) {
    return
  }

  routes.forEach(route => {
    if (route.exact && route.path && !OPEN_PAGES.includes(route.path)) {
      route.Route = './src/components/Auth/AuthRoute.js'
    }
    if (route.routes) {
      setAuthRoute(route.routes)
    }
  })
}
